<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Utouu iOS Application</string>
	<key>Description</key>
	<string>This template provides a starting point for Universal iOS application that uses no XIBs or Stortyboards. It has launch images in all sizes. Also contains prefix header. It has base model and UI classes</string>
	<key>Identifier</key>
	<string>utouu.token.template.project.application.ios.rogerchen.upper</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>utouu.token.template.project.application.ios.rogerchen</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Type</key>
	<string>popup</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resource/Script.sh</key>
		<dict>
			<key>Group</key>
			<string>Resource</string>
			<key>Path</key>
			<string>./Resource/Script.sh</string>
		</dict>
		<key>Vendor/ThemeManager/ThemeManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Vendor</string>
				<string>ThemeManager</string>
			</array>
			<key>Path</key>
			<string>./Vendor/ThemeManager/ThemeManager.h</string>
		</dict>
		<key>Vendor/ThemeManager/ThemeManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Vendor</string>
				<string>ThemeManager</string>
			</array>
			<key>Path</key>
			<string>./Vendor/ThemeManager/ThemeManager.m</string>
		</dict>
		<key>Main/Home/Model/HomeModel.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>Model</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/Model/HomeModel.h</string>
		</dict>
		<key>Main/Home/Model/HomeModel.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>Model</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/Model/HomeModel.m</string>
		</dict>
		<key>Main/Home/Other/HomeTools.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>Other</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/Other/HomeTools.h</string>
		</dict>
		<key>Main/Home/Other/HomeTools.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>Other</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/Other/HomeTools.m</string>
		</dict>
		<key>Main/Home/View/CustomView.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>View</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/View/CustomView.h</string>
		</dict>
		<key>Main/Home/View/CustomView.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>View</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/View/CustomView.m</string>
		</dict>
		<key>Main/Home/ViewController/HomeViewController.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>ViewController</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/ViewController/HomeViewController.h</string>
		</dict>
		<key>Main/Home/ViewController/HomeViewController.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Main</string>
                <string>Home</string>
                <string>ViewController</string>
            </array>
			<key>Path</key>
			<string>./Main/Home/ViewController/HomeViewController.m</string>
		</dict>
		<key>Expand/Base/BaseController/UtouuBaseViewController.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Base</string>
                <string>BaseController</string>
            </array>
			<key>Path</key>
			<string>./Expand/Base/BaseController/UtouuBaseViewController.h</string>
		</dict>
		<key>Expand/Base/BaseController/UtouuBaseViewController.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Base</string>
                <string>BaseController</string>
            </array>
			<key>Path</key>
			<string>./Expand/Base/BaseController/UtouuBaseViewController.m</string>
		</dict>
		<key>Expand/Category/UITextView+PlaceHolder.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Category</string>
            </array>
			<key>Path</key>
			<string>./Expand/Category/UITextView+PlaceHolder.h</string>
		</dict>
		<key>Expand/Category/UITextView+PlaceHolder.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Category</string>
            </array>
			<key>Path</key>
			<string>./Expand/Category/UITextView+PlaceHolder.m</string>
		</dict>
		<key>Expand/Const/UtouuServiceApiConst.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Const</string>
            </array>
			<key>Path</key>
			<string>./Expand/Const/UtouuServiceApiConst.h</string>
		</dict>
		<key>Expand/Const/UtouuServiceApiConst.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Const</string>
            </array>
			<key>Path</key>
			<string>./Expand/Const/UtouuServiceApiConst.m</string>
		</dict>
		<key>Expand/DataBase/UtouuDataBaseManager.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>DataBase</string>
            </array>
			<key>Path</key>
			<string>./Expand/DataBase/UtouuDataBaseManager.h</string>
		</dict>
		<key>Expand/DataBase/UtouuDataBaseManager.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>DataBase</string>
            </array>
			<key>Path</key>
			<string>./Expand/DataBase/UtouuDataBaseManager.m</string>
		</dict>
		<key>Expand/Macros/UtouuCommonMacros.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Macros</string>
            </array>
			<key>Path</key>
			<string>./Expand/Macros/UtouuCommonMacros.h</string>
		</dict>
		<key>Expand/Macros/UtouuCommonMacros.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Macros</string>
            </array>
			<key>Path</key>
			<string>./Expand/Macros/UtouuCommonMacros.m</string>
		</dict>
		<key>Expand/Network/UtouuNetworkManager.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Network</string>
            </array>
			<key>Path</key>
			<string>./Expand/Network/UtouuNetworkManager.h</string>
		</dict>
		<key>Expand/Network/UtouuNetworkManager.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Network</string>
            </array>
			<key>Path</key>
			<string>./Expand/Network/UtouuNetworkManager.m</string>
		</dict>
		<key>Expand/Tools/UtouuToolsFunction.h</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Tools</string>
            </array>
			<key>Path</key>
			<string>./Expand/Tools/UtouuToolsFunction.h</string>
		</dict>
		<key>Expand/Tools/UtouuToolsFunction.m</key>
		<dict>
			<key>Group</key>
            <array>
                <string>Expand</string>
                <string>Tools</string>
            </array>
			<key>Path</key>
			<string>./Expand/Tools/UtouuToolsFunction.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>Resource/Script.sh </string>
		<string>Vendor/ThemeManager/ThemeManager.h</string>
		<string>Vendor/ThemeManager/ThemeManager.m</string>
		<string>Main/Home/Model/HomeModel.h</string>
		<string>Main/Home/Model/HomeModel.m</string>
		<string>Main/Home/Other/HomeTools.h</string>
		<string>Main/Home/Other/HomeTools.m</string>
		<string>Main/Home/View/CustomView.h</string>
		<string>Main/Home/View/CustomView.m</string>
		<string>Main/Home/ViewController/HomeViewController.h</string>
		<string>Main/Home/ViewController/HomeViewController.m</string>
		<string>Expand/Base/BaseController/UtouuBaseViewController.h</string>
		<string>Expand/Base/BaseController/UtouuBaseViewController.m</string>
		<string>Expand/Category/UITextView+PlaceHolder.h</string>
		<string>Expand/Category/UITextView+PlaceHolder.m</string>
		<string>Expand/Const/UtouuServiceApiConst.h</string>
		<string>Expand/Const/UtouuServiceApiConst.m</string>
		<string>Expand/DataBase/UtouuDataBaseManager.h</string>
		<string>Expand/DataBase/UtouuDataBaseManager.m</string>
		<string>Expand/Macros/UtouuCommonMacros.h</string>
		<string>Expand/Macros/UtouuCommonMacros.m</string>
		<string>Expand/Network/UtouuNetworkManager.h</string>
		<string>Expand/Network/UtouuNetworkManager.m</string>
		<string>Expand/Tools/UtouuToolsFunction.h</string>
		<string>Expand/Tools/UtouuToolsFunction.m</string>
	</array>
</dict>
</plist>
